/* general */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
}

.myexcontainer {
    width: 100%;
    padding: 0 75px;
    position: relative;
}

a,
button,
input {
    outline: none !important;
}

a,
a:hover {
    text-decoration: none;
}

.transparrbtn {
    background: #fff;
    border: 1px solid #EC0F16;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC0F16;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 220px;
    height: 48px;
    transition: .3s;
}

.transparrbtn:hover {
    background: #EC0F16;
    color: #fff;
}

.redbtn {
    background: #EC0F16;
    border: 1px solid #EC0F16;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 220px;
    height: 48px;
    transition: .3s;
}

.redbtn:hover {
    color: #EC0F16;
    background: #fff;
}

.sectsubtitle {
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    position: relative;
    margin-bottom: 60px;
}

.sectsubtitle:after {
    content: '';
    display: inline-block;
    width: 57px;
    height: 1px;
    background: #EC0F16;
    position: absolute;
    left: 0;
    bottom: -18px;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
}

.section-title {
    color: #000;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    font-variant: small-caps;
    position: relative;
    margin-bottom: 64px;
}

.section-title.underlinered:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 64px;
    background: #EC0F16;
    position: absolute;
    left: 0;
    bottom: -24px;
}






/* general end*/

/* header */

.header__contentwrapp {
    display: flex;
}

.header__leftbox {
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.header__leftbox img {
    width: 100%;
}

.header__rightbox {
    max-width: calc(100% - 150px);
    width: 100%;
    padding-left: 50px;
    padding-bottom: 19px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header ul li {
    height: 60px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.header__rightbox-toprow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 40px;
}

.header__signsect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 315px;
    width: 100%;
}

.header_nav a {
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.header_nav li:not(:last-child),
.header__language li:not(:last-child) {
    margin-right: 30px;
}

.header_nav ul li a:before,
.header__sign ul li a:before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #EC0F16;
    transition: .3s;
}

.header_nav li.active a:before,
.header_nav li a:hover:before,
.header__sign ul li a:hover:before {
    width: 100%;
}

.header__sign a,
.header__language a {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

.header__sign li:not(:last-child) {
    margin-right: 15px;
}

.header__sign li:first-child a {
    color: #EC0F16;
}

.header__language li {
    position: relative;
}

.header__language li:first-child:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #000;
    position: absolute;
    right: -15px;
    bottom: 3px;
}

.header__language li a {
    transition: .3s;
}

.header__language li.active a,
.header__language li a:hover {
    color: #BDBDBD;
}

.header__rightbox-bottrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__searchbox {
    max-width: 427px;
    width: 100%;
    position: relative;
}

.header__serchinputfield input {
    width: 100%;
    height: 48px;
    border: none;
    border-bottom: 1px solid #000000;
    padding-left: 20px;
    padding-right: 45px;
    font-size: 15px;
    color: #000;
}

.header__serchinputfield input::placeholder {
    color: #828282;
}

.header__serchinputfield button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../img/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.phonelink {
    position: relative;
    padding-left: 39px;
    margin-right: 48px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    transition: .3s;
    display: flex;
    align-items: center;
}

.phonelink svg {
    margin-right: 18px;
}

.phonelink svg path {
    transition: .3s;
}

.phonelink:hover {
    color: #EC0F16;
}

.phonelink:hover svg path {
    fill: #EC0F16;
}

.header__callbox {
    display: flex;
    align-items: center;
}

.header__callbox .redbtn {
    margin-right: 24px;
}


/* header  end*/



/* MAIN PAGE */

.mainparallaxsect__content {
    padding-top: 60px;
}

.mainparallaxsect__content h1 {
    text-transform: uppercase;
    margin: 0;
}

.mainparallaxsect {
    position: relative;
    height: 690px;
    background: linear-gradient(179.39deg, #FFFFFF 60.71%, #F5F5F5 99.36%);
}

.mainparallaxsect__parallax #scene {
    height: 690px;
}

.mainparallaxsect__parallax #scene div {
    position: absolute !important;
}

.mainparallaxsect__parallax #scene div:first-child {
    top: 55px !important;
    right: 486px !important;
    left: initial !important;
}

.mainparallaxsect__parallax #scene div:nth-child(2) {
    right: 0;
    top: initial !important;
    left: initial !important;
    bottom: 159px;
}

.mainparallaxsect img {
    max-width: 100%;
}

.servicesdark__col {
    position: relative;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.servicesdark__box {
    height: 320px;
    position: relative;
    padding: 36px;
    overflow: hidden;
}

.servicesdark__box::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 30, 30, .6);
    transition: .5s;
}

.servicesdark__box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
    animation-timing-function: ease-in-out;
}

.servicesdark__boxcontent {
    position: relative;
    z-index: 2;
}

.servicesdark__boxcontent img {
    opacity: .5;
    width: 48px;
    margin-bottom: 26px;
    transition: .3s;
}

.servicesdark__boxcontent .title {
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 26px;
}

.servicesdark__boxcontent .descr {
    margin: 0;
    color: rgba(255, 255, 255, .8);
    font-size: 15px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.servicesdark__link {
    width: 120px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(236, 15, 22, 0.5);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: .3s;
}

.servicesdark__box:hover .servicesdark__boxcontent img {
    opacity: 1;
}

.servicesdark__box:hover .servicesdark__link {
    background: #EC0F16;
}

.servicesdark__box:hover>img {
    transform: scale(1.1);
}

.servicesdark__box:hover:after {
    background: rgba(19, 18, 18, .6);
}

.servicesdark {
    margin-top: -145px;
}

.howitworks {
    padding: 105px 0 100px;
}

.howitworks .section-title  {
    margin-bottom: 88px;
}

.howitworks .section-boldtext {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    max-width: 385px;
}
.howitworks .descr {
    max-width: 385px;
}
.howitworks .descr p {
    margin-bottom: 14px;
    color: #000;
}

.howitworks a {
    color: #EC0F16;
    font-weight: bold;
}

.howitworks a:hover {
    text-decoration: underline;
}

.howitworks__box {
    position: relative;
    overflow: hidden;
    background: #F2F2F2;
    height: 168px;
    margin-bottom: 20px;
}









/* MAIN PAGE end */












/* 
font-size: 16px;
line-height: 24px;
color: #101010;
*/





/* font-family: 'Montserrat', sans-serif; */